/* Contact.css */

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center
}

.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 150px;
}

.button {
    width: 10%;
    padding: 12px;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3e8e41;
}

.map-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-container {
        padding: 10px;
    }

    .contact-form {
        padding: 15px;
    }

    .map-container iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        padding: 10px;
    }

    button {
        padding: 10px;
        font-size: 0.9rem;
    }
}
