/* DownloadButton.css */
.btn {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.download-btn {
    background-color: #4CAF50; /* Green background */
    color: #040b14;
    padding: 30px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 500px;
    text-align: center;
    font-size: 20px;
    font-weight: bold

    
}

.download-btn:hover {
    background-color: #45a049; /* Darker green when hovered */
    transform: translateY(-5px)
}

.download-btn:active {
    background-color: #3e8e41; /* Even darker green when clicked */
}
