/* Head.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: relative;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}



@media (max-width: 768px) {
  .nav-links {
      display: none;
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #333;
      text-align: center;
      z-index: 999;
  }
  
  .header {
    height: 50px;
  }

  .nav-links.active {
      display: block;
  }

  .nav-links ul {
      flex-direction: column;
      padding: 20px;
  }

  .nav-links li {
      margin: 10px 0;
  }

  .menu-button {
      display: block;
  }
}

/* Optional styling for the active menu button */
.menu-button.open {
  background-color: #ff6347; /* Add your choice of color for the button */
}
