/* Main.module.css */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background: #040b14
}

.textmain {
    flex: 1;
    max-width: 500px;
}

.name {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
    color: whitesmoke
}
P {
    color: whitesmoke;
    font-size: 20px;
    padding-bottom: 20px   
}

.job {
    color: #ff6347; /* Tomato color for job title */
}

.condation {
    font-size: 1.25rem;
    font-style: italic;
    color: #666;
}

/* Image styling */
.triangle {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .textmain {
        text-align: center;
        margin-bottom: 20px;
    }

    .name {
        font-size: 2.5rem;
    }

    .job {
        font-size: 1.5rem;
    }

    .condation {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 2rem;
    }

    .job {
        font-size: 1.25rem;
    }

    .condation {
        font-size: 1rem;
    }
}
